# Earnings of Female and Male Employees

## Problem Statement
This project...

### Data Source
The dataset used in this project was originally sourced from the Kaggle library; restructured and uploaded to the Project repo.

In [1]:
import os

## Data Pre-processing
Average hourly earnings of females, males and persons

In [2]:
#ignore this box if you are using jupyter lab
#create a function that defines the new directory
# def get_path():
#    print('directory')
   #get the current working directory
#    print(os.getcwd())
 #   print('new directory')
    
#get_path()
#change the directory to the new directory containing the dataset
#os.chdir("C:\\Users\\DELL\\Desktop\\Hamoyecapstoneproject")

#get_path()

In [3]:
#path = os.getcwd()
#os.listdir(path)

load the data

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Carol-Kelly/Hamoye-Data-Warehouse-ProjectTeam/main/original_earnings%20dataset.csv',
                 delimiter=',', index_col=0)
row, col = df.shape
print(f'There are {row} rows and {col} columns')

There are 14 rows and 28 columns

Let us get familiar with the Datasets by checking for its characteristics which include the rows, columns, statistical distribution....e.t.c

In [5]:
df.head()

,year,females,female managers,female professionals,female technicians and trades workers,female community and personal service workers,female clerical and administrative workers,female sales workers,female machinery operators and drivers,female labourers,...,male labourers,persons,person managers,person professionals,person technicians and trades workers,person community and personal service workers,person clerical and administrative workers,person sales workers,person machinery operators and drivers,person labourers
0,2004,Females,26.14,29.02,17.90,18.01,19.98,14.79,16.27,16.48,...,17.21,Persons,30.60,31.22,21.58,19.03,20.80,16.13,20.39,16.95
1,2005,Females,28.10,30.00,18.86,18.20,20.95,15.39,21.49,16.71,...,17.85,Persons,31.37,31.91,21.42,19.60,21.71,16.70,21.09,17.44
2,2006,Females,28.60,30.56,19.64,18.84,21.73,16.19,17.37,16.32,...,18.18,Persons,32.82,32.28,22.18,20.04,22.82,17.57,21.00,17.48
3,2007,Females,36.43,31.93,20.98,19.85,23.27,16.78,18.04,17.54,...,19.68,Persons,37.95,35.01,23.52,21.32,24.61,18.28,22.55,18.88
4,2008,Females,32.68,32.93,20.30,20.97,23.67,17.44,20.27,17.27,...,19.79,Persons,36.24,35.84,24.19,24.25,24.76,19.34,23.33,18.85

we have three categories of gender in the dataset above; Females, Males and, persons(not exclusively a man or woman).https://www23.statcan.gc.ca/imdb/p3Var.pl?Function=DEC&Id=410445

In [6]:
#check for the columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 28 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   year                                           14 non-null     int64
 1   females                                        14 non-null     object
 2   female managers                                14 non-null     float64
 3   female professionals                           14 non-null     float64
 4   female technicians and trades workers          14 non-null     float64
 5   female community and personal service workers  14 non-null     float64
 6   female clerical and administrative workers     14 non-null     float64
 7   female sales workers                           14 non-null     float64
 8   female machinery operators and drivers         14 non-null     float64
 9   female labourers                               14 non-null     float64
 10  males                                          14 non-null     object
 11  male managers                                  14 non-null     float64
 12  male professionals                             14 non-null     float64
 13  male technicians and trades workers            14 non-null     float64
 14  male community and personal service workers    14 non-null     float64
 15  male clerical and administrative workers       14 non-null     float64
 16  male sales workers                             14 non-null     float64
 17  male machinery operators and drivers           14 non-null     float64
 18  male labourers                                 14 non-null     float64
 19  persons                                        14 non-null     object
 20  person managers                                14 non-null     float64
 21  person professionals                           14 non-null     float64
 22  person technicians and trades workers          14 non-null     float64
 23  person community and personal service workers  14 non-null     float64
 24  person clerical and administrative workers     14 non-null     float64
 25  person sales workers                           14 non-null     float64
 26  person machinery operators and drivers         14 non-null     float64
 27  person labourers                               14 non-null     float64
dtypes: float64(24), int64(1), object(3)
memory usage: 3.2+ KB

In [7]:
#check for null values
df.isna().sum()

year                                             0
females                                          0
female managers                                  0
female professionals                             0
female technicians and trades workers            0
female community and personal service workers    0
female clerical and administrative workers       0
female sales workers                             0
female machinery operators and drivers           0
female labourers                                 0
males                                            0
male managers                                    0
male professionals                               0
male technicians and trades workers              0
male community and personal service workers      0
male clerical and administrative workers         0
male sales workers                               0
male machinery operators and drivers             0
male labourers                                   0
persons                                          0
person managers                                  0
person professionals                             0
person technicians and trades workers            0
person community and personal service workers    0
person clerical and administrative workers       0
person sales workers                             0
person machinery operators and drivers           0
person labourers                                 0
dtype: int64

In [8]:
# check for duplicate values
df.duplicated().any()

False

There are neither missing values nor duplicated values in this dataset

In [9]:
# conduct some descriptive statistics
df.describe()

,year,female managers,female professionals,female technicians and trades workers,female community and personal service workers,female clerical and administrative workers,female sales workers,female machinery operators and drivers,female labourers,male managers,...,male machinery operators and drivers,male labourers,person managers,person professionals,person technicians and trades workers,person community and personal service workers,person clerical and administrative workers,person sales workers,person machinery operators and drivers,person labourers
count,14.0000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,14.000000,14.000000,14.000000,14.000000,14.00000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,2010.5000,35.964286,37.065714,22.979286,22.597857,26.558571,19.630714,23.685000,19.953571,42.518571,...,26.629286,21.987143,40.051429,39.708571,27.29000,24.186429,27.736429,21.092143,26.342143,21.250000
std,4.1833,6.134298,6.119284,3.488287,3.277464,4.516377,3.383354,5.075312,3.054882,6.324777,...,4.064915,3.258960,6.095062,6.231100,4.18193,3.415309,4.643856,3.419436,4.138499,3.177241
min,2004.0000,26.140000,29.020000,17.900000,18.010000,19.980000,14.790000,16.270000,16.320000,33.020000,...,20.920000,17.210000,30.600000,31.220000,21.42000,19.030000,20.800000,16.130000,20.390000,16.950000
25%,2007.2500,32.835000,32.180000,20.217500,20.130000,23.370000,16.945000,20.567500,17.337500,38.467500,...,23.220000,19.707500,36.667500,35.217500,23.68750,21.552500,24.647500,18.545000,22.745000,18.857500
50%,2010.5000,35.730000,36.000000,23.025000,22.610000,26.295000,19.510000,22.830000,19.500000,42.770000,...,27.205000,21.925000,39.675000,39.395000,27.82500,24.255000,27.675000,20.995000,26.780000,21.075000
75%,2013.7500,40.905000,42.835000,25.697500,24.882500,30.735000,22.112500,28.552500,22.417500,47.977500,...,29.785000,24.610000,45.155000,45.605000,30.75500,26.840000,31.880000,23.360000,29.585000,24.047500
max,2017.0000,46.020000,47.040000,28.300000,27.840000,33.540000,26.110000,31.910000,24.900000,52.510000,...,33.120000,27.280000,49.800000,49.560000,33.36000,29.280000,35.010000,27.310000,32.840000,26.440000

Column reformatting

In [10]:
df.columns

Index(['year', 'females', 'female managers', 'female professionals',
       'female technicians and trades workers',
       'female community and personal service workers',
       'female clerical and administrative workers', 'female sales workers',
       'female machinery operators and drivers', 'female labourers', 'males',
       'male managers', 'male professionals',
       'male technicians and trades workers',
       'male community and personal service workers',
       'male clerical and administrative workers', 'male sales workers',
       'male machinery operators and drivers', 'male labourers', 'persons',
       'person managers', 'person professionals',
       'person technicians and trades workers',
       'person community and personal service workers',
       'person clerical and administrative workers', 'person sales workers',
       'person machinery operators and drivers', 'person labourers'],
      dtype='object')

In [11]:
# replace the space between columns with underscores
df.columns = [i.replace(" ", "_") for i in df.columns]
df.columns

Index(['year', 'females', 'female_managers', 'female_professionals',
       'female_technicians_and_trades_workers',
       'female_community_and_personal_service_workers',
       'female_clerical_and_administrative_workers', 'female_sales_workers',
       'female_machinery_operators_and_drivers', 'female_labourers', 'males',
       'male_managers', 'male_professionals',
       'male_technicians_and_trades_workers',
       'male_community_and_personal_service_workers',
       'male_clerical_and_administrative_workers', 'male_sales_workers',
       'male_machinery_operators_and_drivers', 'male_labourers', 'persons',
       'person_managers', 'person_professionals',
       'person_technicians_and_trades_workers',
       'person_community_and_personal_service_workers',
       'person_clerical_and_administrative_workers', 'person_sales_workers',
       'person_machinery_operators_and_drivers', 'person_labourers'],
      dtype='object')

Types of workers include:

1. managers
2. professionals
3. technicians and tradeworkers
4. community and personal service workers
5. clerical and administrative workers
6. sales workers
7. machinery operators and drivers
8. labourers

We restructure the data into three separate datasets consisting of the females, males and persons each.

In [12]:
df = df.rename(columns={'year':'job_title'})
df

,job_title,females,female_managers,female_professionals,female_technicians_and_trades_workers,female_community_and_personal_service_workers,female_clerical_and_administrative_workers,female_sales_workers,female_machinery_operators_and_drivers,female_labourers,...,male_labourers,persons,person_managers,person_professionals,person_technicians_and_trades_workers,person_community_and_personal_service_workers,person_clerical_and_administrative_workers,person_sales_workers,person_machinery_operators_and_drivers,person_labourers
0,2004,Females,26.14,29.02,17.90,18.01,19.98,14.79,16.27,16.48,...,17.21,Persons,30.60,31.22,21.58,19.03,20.80,16.13,20.39,16.95
1,2005,Females,28.10,30.00,18.86,18.20,20.95,15.39,21.49,16.71,...,17.85,Persons,31.37,31.91,21.42,19.60,21.71,16.70,21.09,17.44
2,2006,Females,28.60,30.56,19.64,18.84,21.73,16.19,17.37,16.32,...,18.18,Persons,32.82,32.28,22.18,20.04,22.82,17.57,21.00,17.48
3,2007,Females,36.43,31.93,20.98,19.85,23.27,16.78,18.04,17.54,...,19.68,Persons,37.95,35.01,23.52,21.32,24.61,18.28,22.55,18.88
4,2008,Females,32.68,32.93,20.30,20.97,23.67,17.44,20.27,17.27,...,19.79,Persons,36.24,35.84,24.19,24.25,24.76,19.34,23.33,18.85
5,2009,Females,33.30,34.72,20.19,21.00,23.81,18.02,21.46,17.90,...,19.96,Persons,38.57,37.10,25.68,22.25,24.93,19.38,25.05,19.21
6,2010,Females,34.41,35.52,22.86,21.97,25.74,19.15,22.74,19.18,...,21.69,Persons,38.73,38.14,27.23,23.50,27.04,20.58,26.82,20.83
7,2011,Females,35.22,36.48,23.19,23.25,26.85,19.87,22.92,19.82,...,22.16,Persons,40.62,40.65,28.42,24.26,28.31,21.41,26.74,21.32
8,2012,Females,36.24,37.72,23.95,23.52,28.35,20.82,24.46,20.99,...,24.18,Persons,41.28,41.07,29.90,25.25,29.47,22.16,28.52,22.99
9,2013,Females,37.26,38.95,23.90,24.50,28.38,21.61,25.02,21.75,...,24.25,Persons,41.99,41.66,29.81,25.88,29.84,22.67,29.36,23.32
10,2014,Females,42.63,44.13,27.86,25.01,31.52,22.28,29.84,22.64,...,25.22,Persons,46.88,46.92,31.34,27.16,32.56,23.59,30.42,24.29
11,2015,Females,42.12,44.75,27.50,26.87,31.68,22.99,31.91,23.66,...,24.73,Persons,46.21,47.53,32.39,28.11,32.69,24.38,31.02,24.36
12,2016,Females,44.35,45.17,26.28,26.54,32.35,23.39,29.73,24.19,...,25.64,Persons,47.66,47.03,31.04,28.68,33.76,25.79,29.66,25.14
13,2017,Females,46.02,47.04,28.30,27.84,33.54,26.11,30.07,24.90,...,27.28,Persons,49.80,49.56,33.36,29.28,35.01,27.31,32.84,26.44

In [13]:
df.set_index('job_title', inplace=True)
total_df = df.T
total_df = total_df.drop(['females','males','persons'], axis=0)
total_df

job_title,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
female_managers,26.14,28.1,28.6,36.43,32.68,33.3,34.41,35.22,36.24,37.26,42.63,42.12,44.35,46.02
female_professionals,29.02,30,30.56,31.93,32.93,34.72,35.52,36.48,37.72,38.95,44.13,44.75,45.17,47.04
female_technicians_and_trades_workers,17.9,18.86,19.64,20.98,20.3,20.19,22.86,23.19,23.95,23.9,27.86,27.5,26.28,28.3
female_community_and_personal_service_workers,18.01,18.2,18.84,19.85,20.97,21,21.97,23.25,23.52,24.5,25.01,26.87,26.54,27.84
female_clerical_and_administrative_workers,19.98,20.95,21.73,23.27,23.67,23.81,25.74,26.85,28.35,28.38,31.52,31.68,32.35,33.54
female_sales_workers,14.79,15.39,16.19,16.78,17.44,18.02,19.15,19.87,20.82,21.61,22.28,22.99,23.39,26.11
female_machinery_operators_and_drivers,16.27,21.49,17.37,18.04,20.27,21.46,22.74,22.92,24.46,25.02,29.84,31.91,29.73,30.07
female_labourers,16.48,16.71,16.32,17.54,17.27,17.9,19.18,19.82,20.99,21.75,22.64,23.66,24.19,24.9
male_managers,33.02,33.13,35.16,38.85,38.34,41.67,41.28,43.87,44.24,44.85,49.55,49.02,49.77,52.51
male_professionals,34.03,34.2,34.34,38.85,39.4,40.12,41.49,45.78,45.24,45.03,50.45,51.05,49.49,52.91
male_technicians_and_trades_workers,22.15,21.87,22.64,23.97,24.81,26.62,27.95,29.26,30.94,30.82,31.95,33.27,31.97,34.25
male_community_and_personal_service_workers,21.18,22.52,22.74,24.56,31.35,25.1,26.99,26.41,29.03,29.2,31.96,30.74,33.35,32.63
male_clerical_and_administrative_workers,23.19,23.94,26.15,28.52,28.04,28.25,30.69,32.77,32.9,33.88,35.85,35.72,37.77,39.4
male_sales_workers,18.51,19.01,19.99,20.82,22.58,21.6,23.22,23.99,24.49,24.55,25.99,26.89,29.62,29.28
male_machinery_operators_and_drivers,20.92,21.04,21.36,23.06,23.7,25.44,27.25,27.16,28.88,29.83,30.48,30.92,29.65,33.12
male_labourers,17.21,17.85,18.18,19.68,19.79,19.96,21.69,22.16,24.18,24.25,25.22,24.73,25.64,27.28
person_managers,30.6,31.37,32.82,37.95,36.24,38.57,38.73,40.62,41.28,41.99,46.88,46.21,47.66,49.8
person_professionals,31.22,31.91,32.28,35.01,35.84,37.1,38.14,40.65,41.07,41.66,46.92,47.53,47.03,49.56
person_technicians_and_trades_workers,21.58,21.42,22.18,23.52,24.19,25.68,27.23,28.42,29.9,29.81,31.34,32.39,31.04,33.36
person_community_and_personal_service_workers,19.03,19.6,20.04,21.32,24.25,22.25,23.5,24.26,25.25,25.88,27.16,28.11,28.68,29.28
person_clerical_and_administrative_workers,20.8,21.71,22.82,24.61,24.76,24.93,27.04,28.31,29.47,29.84,32.56,32.69,33.76,35.01
person_sales_workers,16.13,16.7,17.57,18.28,19.34,19.38,20.58,21.41,22.16,22.67,23.59,24.38,25.79,27.31
person_machinery_operators_and_drivers,20.39,21.09,21,22.55,23.33,25.05,26.82,26.74,28.52,29.36,30.42,31.02,29.66,32.84
person_labourers,16.95,17.44,17.48,18.88,18.85,19.21,20.83,21.32,22.99,23.32,24.29,24.36,25.14,26.44

Females Average hourly earning dataset

In [14]:
#Extract the females features only from the datasets
df_females = total_df[0:8]
df_females

job_title,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
female_managers,26.14,28.1,28.6,36.43,32.68,33.3,34.41,35.22,36.24,37.26,42.63,42.12,44.35,46.02
female_professionals,29.02,30,30.56,31.93,32.93,34.72,35.52,36.48,37.72,38.95,44.13,44.75,45.17,47.04
female_technicians_and_trades_workers,17.9,18.86,19.64,20.98,20.3,20.19,22.86,23.19,23.95,23.9,27.86,27.5,26.28,28.3
female_community_and_personal_service_workers,18.01,18.2,18.84,19.85,20.97,21,21.97,23.25,23.52,24.5,25.01,26.87,26.54,27.84
female_clerical_and_administrative_workers,19.98,20.95,21.73,23.27,23.67,23.81,25.74,26.85,28.35,28.38,31.52,31.68,32.35,33.54
female_sales_workers,14.79,15.39,16.19,16.78,17.44,18.02,19.15,19.87,20.82,21.61,22.28,22.99,23.39,26.11
female_machinery_operators_and_drivers,16.27,21.49,17.37,18.04,20.27,21.46,22.74,22.92,24.46,25.02,29.84,31.91,29.73,30.07
female_labourers,16.48,16.71,16.32,17.54,17.27,17.9,19.18,19.82,20.99,21.75,22.64,23.66,24.19,24.9

Males Average hourly earning dataset

In [15]:
#Extract the male features only from the datasets
df_males = total_df[8:16]
df_males

job_title,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
male_managers,33.02,33.13,35.16,38.85,38.34,41.67,41.28,43.87,44.24,44.85,49.55,49.02,49.77,52.51
male_professionals,34.03,34.2,34.34,38.85,39.4,40.12,41.49,45.78,45.24,45.03,50.45,51.05,49.49,52.91
male_technicians_and_trades_workers,22.15,21.87,22.64,23.97,24.81,26.62,27.95,29.26,30.94,30.82,31.95,33.27,31.97,34.25
male_community_and_personal_service_workers,21.18,22.52,22.74,24.56,31.35,25.1,26.99,26.41,29.03,29.2,31.96,30.74,33.35,32.63
male_clerical_and_administrative_workers,23.19,23.94,26.15,28.52,28.04,28.25,30.69,32.77,32.9,33.88,35.85,35.72,37.77,39.4
male_sales_workers,18.51,19.01,19.99,20.82,22.58,21.6,23.22,23.99,24.49,24.55,25.99,26.89,29.62,29.28
male_machinery_operators_and_drivers,20.92,21.04,21.36,23.06,23.7,25.44,27.25,27.16,28.88,29.83,30.48,30.92,29.65,33.12
male_labourers,17.21,17.85,18.18,19.68,19.79,19.96,21.69,22.16,24.18,24.25,25.22,24.73,25.64,27.28

Persons Average hourly earning dataset

In [16]:
#Extract the persons features only from the datasets
df_persons = total_df[16:]
df_persons

job_title,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
person_managers,30.6,31.37,32.82,37.95,36.24,38.57,38.73,40.62,41.28,41.99,46.88,46.21,47.66,49.8
person_professionals,31.22,31.91,32.28,35.01,35.84,37.1,38.14,40.65,41.07,41.66,46.92,47.53,47.03,49.56
person_technicians_and_trades_workers,21.58,21.42,22.18,23.52,24.19,25.68,27.23,28.42,29.9,29.81,31.34,32.39,31.04,33.36
person_community_and_personal_service_workers,19.03,19.6,20.04,21.32,24.25,22.25,23.5,24.26,25.25,25.88,27.16,28.11,28.68,29.28
person_clerical_and_administrative_workers,20.8,21.71,22.82,24.61,24.76,24.93,27.04,28.31,29.47,29.84,32.56,32.69,33.76,35.01
person_sales_workers,16.13,16.7,17.57,18.28,19.34,19.38,20.58,21.41,22.16,22.67,23.59,24.38,25.79,27.31
person_machinery_operators_and_drivers,20.39,21.09,21,22.55,23.33,25.05,26.82,26.74,28.52,29.36,30.42,31.02,29.66,32.84
person_labourers,16.95,17.44,17.48,18.88,18.85,19.21,20.83,21.32,22.99,23.32,24.29,24.36,25.14,26.44